<div class="center">
  <div class="text-center">
    <h1>【〜俳句る〜】では、あなたの俳句を投稿、<br>他のユーザーの俳句にいいねすることができます。​</h1>
    <%= link_to 'Sign up!!!', signup_path, class: 'btn btn-lg btn-primary mt-2 mb-3' %>
    <h2>俳句とは、五・七・五の十七音で表現される詩のことを言います。<br>
    また、型が決まっていて季語が入っている事を「有季定型」と言いますが、「有季定型」の詩であればそれは俳句です。</h2>
    <h3>【俳句の作り方・ルール】</h3>
    <h4>其ノ一、季語を一つだけ入れる。（季語は一つと決まっており、二つの季語が入ってしまう事を「季重なり」と呼びます。）
    <br>其ノ弐、十七音で書く。（十七音より多くなってしまったものを「字余り」、十七音に達しなかったものを「字足らず」と呼び、
    <br>これらは俳句を作る上で基本的には避けるべきではありますが、絶対のルールではありません。）
    <br>其ノ参、五・七・五と三行に分けて書くと美しく見えます。</h4>
    <ul>
      <li style="list-style:none;">【〜俳句る〜】では、作り方が上手い人の俳句を真似するのも良い方法です。そして評価するのはユーザーの皆様です。
      <br>俳句作りを楽しんで頂ければ幸いです。</li>
    </ul>
  </div>
</div>
