
body{
  background-color: #767676;
  background-size: cover;
}
.navbar{
  width: 100%;
  position:fixed;
  top:0;
  z-index: 10;
  height: 60px;
  opacity: 0.85;
}
.collapse{
  background-color: #343a40;
}

.container{
  margin-top: 110px;
  padding-bottom: 50px;
  padding-top:10px;
  background-color: white;
}
.b{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 5;
}
.b:active{
  box-shadow:none;
}
.card{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
